@import 'node_modules/bootstrap/scss/bootstrap.scss';

.nav-bar {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.d-flex {
    display: flex;
    align-items: center;
}

.mr-2 {
    height:40px;
    margin-right: 10px;
    font-style: italic;
}

.btn {
    height: 40px;
}