@import 'node_modules/bootstrap/scss/bootstrap.scss';

$theme-colors: (
    "primary": #d4af37
);

.container {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.list-group-item span {
    display: block;
    width:100%;
};

.btn-primary {
    margin: 20px 0 20px 0;
}