@import 'node_modules/bootstrap/scss/bootstrap.scss';

.main {
    background: url("background-img.png") no-repeat center center;
    background-size: cover;
    min-height: 100%;
    max-height: fit-content;
}

.tAndP { 
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    margin-left: 20%;
}

.player {
    width: 50%;
}

.encomenda {
    color: #FFDE59;
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.btn-primary {
    margin: 20px 0 20px 0;
    background: #FFDE59 ;
    color:#333333;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
