@import 'node_modules/bootstrap/scss/bootstrap.scss';

.main {
    background: url("background-img.png") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

.tAndP { 
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    padding: 5%;
}

.tracking {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.player {
    width: 70%;
}

.btn-primary {
    margin: 20px 0 20px 0;
    background: #FFDE59 ;
    color:#333333;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
